<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Pagina de login</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
      <link href="https://db.onlinewebfonts.com/c/5f1f5f1069636f4fa9cae26afbe40364?family=OneSignature" rel="stylesheet"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <header>
      <div class="navigation">
         <div class="container_logo">
            <a href="/"><img id="logo"src="{{ url_for('static', filename='imgs_adds/heart-white.png') }}"></a>
         </div>
      </div>
  </header>
     <body>
        <main>
            <div class="container-p">
                <div class="wrapper">
                    <div class="title login">
                        Seja Bem vindo!
                    </div>
                    <div class="form-container">
                        <label for="login" class="slidelogin">realizar cadastro</label>
                    </div>
                    <form action="checking" method="POST" class="signup">
                        <div class="field">
                            <input type="text" name="email" placeholder="Email" required">
                        </div>
                        <div class="field">
                            <input type="password" name="senha" placeholder="Senha" required>
                        </div>
                        <div class="box_btn">
                            <div class="field btn">
                            <div class="btn-layer">
                                <input type="submit" value="Inscreva-se">
                            </div>
                            </div>
                        </div>
                        <div class="signup-login">
                            Já realizou seu cadastro?<a id="insc" href="/login"> Logar-se</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
		<footer class="f-two">
			<a href="/"><img style="width: 100px;" src="/static/imgs_adds/asalogob.png"></a>
			<p style="color: white; font-size: 20px;">|</p>
			<a href="/login" id="anjo">Seja um anjo</a>
		</footer>
    </body>
</html>