<!DOCTYPE html>
<html>
<head>
	<title>Final</title>
	<meta name="viewport" content="width=500, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='3_pagar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='1_index.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<header>
    <div class="logo">
        <a href="/"><img id="logo"src="{{ url_for('static', filename='asalogob.png') }}"></a>
    </div>
</header>
<body>
</body>
